

.imagen {
   display: flex;
  flex-direction: column; 
  align-items: center;
   justify-content: center; 
}


.imagen img {
  transition: transform 0.3s ease; 
}


.imagen:hover img {
  transform: scale(1.1); 
}
img{
  width: 150px;
  height: 150pxpx;
 
}