body {
	font-size: 18px;
	font-family: Roboto, sans-serif;
	color: #404040;
}

#inicio {
	display: flex;
	padding-left: 15%;
	position: fixed;
	background-color: #fff6f6;
	width: 100%;
	top: 0;
}

#logo h1 {
	padding-top: 15%;
}

#logo {
	font-size: 12px;
}

#menu_principal {
	display: flex;
	flex-direction: row;
	padding-left: 20%
}

#menu_principal li {
	display: flex;
	flex-direction: row;
}

#menu_principal a {
	text-decoration: none;
	color: #404040;
	transition: color 0.2s ease-in;
}

#rojo {
	align-items: center;
	display: flex;
	list-style: none;
	width: 200px;
	height: 70px;
	padding-left: 15.5%
}

#arriba li {
	background-color: #fff;
	transition: background-color 0.3s ease;
	padding: 4%;
	border-radius: 10%;
	width: 100%;
}

#arriba li a:hover {
	color: grey;
}

#arriba li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

#rojo a {
	color: white;
}

#buscador {
	display: flex;
	background: #405aa3 radial-gradient(ellipse at bottom center, #5f62c6 0, #4047a3 70%);
	text-align: center;
	width: 100%;
	align-items: center;
	
}

.buscador {
	float: right;
	box-sizing: border-box;
	text-align: center;
	padding-left: 37%;
	text-align: left;
}

#principal {
	float: left;
	width: 40%;
	border: 1px solid #ccc;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	padding-bottom: 4%;
	margin-left: 15%;
	margin-top: 1%;
	margin-bottom: 3%;
}
li {
	scroll-margin-top: 120px; 
  }

.articulo {
	margin-left: 2%;
	margin-right: 3%;
}

#secundario {
	float: right;
	width: 34%;
}

#lateral li {
	margin-bottom: 2.5%;
	list-style: none;
}

#lateral a {
	color: #805341;
}

#populares {
	padding-left: 5%;
}

h2 {
	color: #405aa3;
}

#pie {
	background: #3c5452;
	clear: left;
	height: 40px;
	padding-top: 25px;

}

#pie a,
.enlaces,
.copyright {
	color: white;
}

.enlaces {
	padding-left: 3%;
	text-align: center;
}

.copyright {

	margin: 0 auto;
	text-align: center;

}

#principal div:nth-child(2) p:nth-child(4) {
	text-align: center;
	font-size: 25px;
}

iframe {
	border-style: none;
}

.form {
	float: right;
	margin-right: 10%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
}


#nombre,
#correo,
#mensaje {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

#enviar {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #a34340;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#enviar:hover {
	background-color: #6f1717;
}
